:root {
    --corFundo: #1f1f1f;
    --vermelhoItalia: #CE2B37;
    --verdeItalia: #009246;
    --brancoItalia: #F1F2F1;
}

/* COMPUTADOR */
@media screen and (min-width: 1430px) {
    * {
        display: none;
    }
}

/* TELA PADRÃO*/
@media screen and (max-width: 768px) and (min-width: 389px) {

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/image/background.png); 
    background-position: center;
    background-repeat: repeat;
}

header, .menu {
    position: sticky;
    top: 10px;
    width: 400px;
    margin: auto;
}


/* cor do nav bar aqui */
.menu {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f86;
    backdrop-filter: blur(10px);
    border: 0.1px solid #f1f2f12b;
    border-radius: 50px;

    .logo {
        width: 400px;
        height: 35px;
        display: flex;
        justify-content: start;
        align-items: center;

        user-select: none;


            img {
                display: flex;
                align-items: center;
                border-radius: 100%;
                height: 3em;
                width: 3em;
                margin-left: 2em;
            }
    }

    .links {
        margin-left: 2em;
        margin-right: 1em;
        display: flex;
        gap: 1em;
        display: flex;
        justify-content: end;
        margin-left: 25%;

        li {
            display: flex;
            justify-content: end;
            align-items: center;
            list-style-type: none;  
            a {
                font-size: 0.5em;
            }
        }

            .pizzaSalgada{
                a {
                    color: var(--verdeItalia);
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-style: bold;
                }
            }
            .pizzaDoce {  
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                a {
                    color: var(--brancoItalia);
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-style: bold;
                }
            }
            .Bebidas {
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                a {
                    color: var(--vermelhoItalia);
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-style: bold;
                }
            }
    }
}

.containerPizzaSalgada {
    margin: 25px;

    .topo {
        width: 380px;
        margin: auto;
    }

/* Container geral */
.containerPizzaSalgada, .containerPizzaDoce {
    font-family: sans-serif;
    width: 300px;
    margin: 20px;
}

/* Título Preto */
.tituloPizzaSalgada {
    background-color: #1a1a1a;
    color: var(--brancoItalia);
    font-weight: 500;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 8px 8px 0 0;
}

/* Conteúdo (Começa escondido) */
.conteudo-pizzas {
    display: none; /* ESCONDIDO POR PADRÃO */
    background-color: #272727eb;
    color: white;
    padding: 15px;
    border-left: 2px solid #1a1a1a;
    border-right: 2px solid #1a1a1a;
}

/* Conteúdo quando está ATIVO (Aberto) */
.conteudo-pizzas.aberto {
    display: block; /* APARECE */
}

.conteudo-pizzas p {
    margin: 5px 0;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

/* Botão Vermelho */
.botao-vermelho {
    width: 100%;
    background-color: var(--vermelhoItalia);
    color: black;
    font-weight: bold;
    border: none;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0 0 8px 8px;
    transition: background 0.3s;
}

.botao-vermelho:hover {
    background-color: var(--vermelhoItalia);
    font-size: 10px;
}

    .tituloPizzaSalgada {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Special Gothic Expanded One", sans-serif;
        color: var(--brancoItalia);
        background-color: var(--corFundo);
        height: 30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 380px;
        background-color: var(--vermelhoItalia);
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        p {
        font-family: "Zalando Sans Expanded", sans-serif;
        font-size: 10px;
        font-weight: 500;
        }
    }

    .containerPizzas {

        .topocontainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .tituPizza {
                p {
                    font-family: "Comfortaa", sans-serif;
                    font-weight: bold;
                }
            }

            .precoPizza {
                display: flex;
                align-items: center;
                margin: auto 0;
                font-family: "Special Gothic Expanded One", sans-serif;
                font-size: 15px;
                color: rgb(255, 128, 0);
            }
        }

        .bottompizza {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .descPizza {
                p {
                    font-family: "Comfortaa", sans-serif;
                    font-size: 12px;
                }
            }

            .imgdaPizza {
                img {
                    width: 80px;
                    height: 80px;
                }
/* Estilo para a imagem pequena parecer "clicável" */
.imagem-pequena {
  cursor: pointer;
  transition: 0.3s;
}
.imagem-pequena:hover {opacity: 0.7;}

/* O Modal (fundo escuro) */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed; 
  z-index: 1000; /* Garante que fique acima de tudo */
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); /* Preto com transparência */
}

/* A Imagem Expandida */
.modal-conteudo {
  margin: auto;
  display: block;
  width: 300px;
  max-width: 700px;
  height: 300px;
  max-height: 700px;
  animation-name: zoom;
  animation-duration: 0.6s;


}

/* Botão de fechar (X) */
.fechar {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Animação de Zoom (opcional, mas fica bonito) */
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
            }
        }
    }
    }

}



/* FOOTER */

footer {
    hr {
        border: 0;
        height: 1px;
        background: #1f1f1f82;
    }

    .textDallas {
        font-family: "Special Gothic Expanded One", sans-serif;
        font-weight: 400;
        margin: auto;
        justify-content: center;
        margin-bottom: 15px;
        display: flex;
        color: var(--corFundo);
    }

    margin-top: 10px;
    background-color: var(--verdeItalia);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .imagemLogo {
        width: 400px;
        display: flex;
        justify-content: center;
        margin:auto;
        img {
            border-radius: 100%;
            margin: 20px auto;
            width: 3.5em;
            height: 3.5em;  
        }
    }

    .social-links {
        width: 300px;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        gap: 20px;

        .whatsapp {
            margin: 15px 0;
            display: flex;
            align-items: center;
            a {
                color: aliceblue;
                text-decoration: none;
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                list-style: none;
            }
            border-radius: 10px;

            width: 30px;
            height: 30px;
            background: linear-gradient(45deg, #5dff00 1%,#30a345 97%);
        }
        
        .instagram {
            display: flex;
            align-items: center;
            a {
                color: aliceblue;
                text-decoration: none;
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                list-style: none;
            }

            border-radius: 10px;

            width: 30px;
            height: 30px;
            background: linear-gradient(45deg, #e5d600 1%,#ff4ca8 37%,#ff0084 73%,#e500b7 100%);
        }

    }

    .endereco {
        max-width: 300px;
        display: block;
        align-items: center;
        margin: auto;
        margin-bottom: 30px;
        color: var(--brancoItalia);

        .esquerda {
        .tituFooter{
            display: flex;
            align-items: center;
            font-family: "Zalando Sans Expanded", sans-serif;
            margin: 15px 0;
            margin-top: 30px;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 13px;

            .bi-star-fill, .bi-star-half {
                color: #f89900;
            }
        }

        .enderecoFooter {
            display: block;
            align-items: center;
            justify-content: center;
            margin: auto;
            display: flex;
            justify-content: center;

            iframe{
                border: 2px outset #ce2b3682;
                border-radius: 5px;
                width: 300px;
                height: 150px;
                user-select: none;
                margin-bottom: 20px;
            }
        }


        }
        .direita {
            display: flex;
            justify-content: space-between;
            align-self: center;
            margin: auto;
            width: 350px;

        .descricaoFooter {
            margin-top: 20px;
            .tituEndereco {
                margin: 10px 0;
                font-family: "Special Gothic Expanded One", sans-serif;
            }
            .descEndereco {
                font-family: "Zalando Sans Expanded", sans-serif;
                font-size: 13px;
            }

        }

    }
        .btnCompartilhar {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            button {
                font-family: "Comfortaa", sans-serif;
                font-size: 10px;
                width: 120px;
                height: 30px;
                user-select: none;
                border-radius: 15px;
                border: 1px solid var(--corFundo);
                transition: 1s ease;
            }:hover{
                font-weight: 600;
                border: 1px solid var(--vermelhoItalia);
            }
        }
    }

    .containerFim {
        margin: auto;
        width: 300px;
        .copy {
            display: flex;
            justify-content: center;
            margin: auto;
            align-items: center;
            font-family: "Comfortaa", sans-serif;
            font-size: 13px;
            color: var(--brancoItalia);
            padding: 20px 0;
        }
        .devs {
            margin: 20px 0;
            color: rgb(223, 223, 222);
            font-family: "Special Gothic Expanded One", sans-serif;
            span {
                color: rgb(193, 193, 193);
                font-size: 13px;
                i {
                    padding-left: 10px;
                }
            }
        }

        .developers {
            display: flex;
            justify-content: space-between;

            .dark, .romano {
                i {
                    margin-right: 10px;
                }
                a {
                    text-decoration: none;
                    font-family: "Zalando Sans Expanded", sans-serif;
                    font-weight: 500;
                    color: rgb(220, 205, 205);
                }

                li {
                    list-style: none;
                }
            }
        }
    }
}

/* TELA CEULAR PEQUENA */

@media screen and (max-width: 390px) {
* {
    margin: 0;
    padding: 0;
}

header, .menu {
    position: sticky;
    top: 10px;
    width: 350px;
    margin: auto;
}
/* cor do nav bar aqui */
.menu {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1fe9;
    backdrop-filter: blur(10px);
    border: 0.1px solid #f1f2f12b;
    border-radius: 50px;

    .logo {
        width: 400px;
        height: 35px;
        display: flex;
        justify-content: start;
        align-items: center;

        user-select: none;

            img {
                display: flex;
                align-items: center;
                border-radius: 100%;
                height: 3em;
                width: 3em;
                margin-left: 2em;
            }
    }

    .links {
        margin-left: 2em;
        margin-right: 1em;
        display: flex;
        gap: 1em;
        display: flex;
        justify-content: end;
        margin-left: 25%;

        li {
            display: flex;
            justify-content: end;
            align-items: center;
            list-style-type: none;  
            a {
                font-size: 0.7em;
            }
        }

            .pizzaSalgada{
                a {
                    color: var(--verdeItalia);
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-style: bold;
                }
            }
            .pizzaDoce {  
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                a {
                    color: var(--brancoItalia);
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-style: bold;
                }
            }
            .Bebidas {
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                a {
                    color: var(--vermelhoItalia);
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-style: bold;
                }
            }
    }
}

/* FOOTER */

footer {
    hr {
        border: 0;
        height: 1px;
        background: #1f1f1f82;
    }

    .textDallas {
        font-family: "Special Gothic Expanded One", sans-serif;
        font-weight: 400;
        margin: auto;
        justify-content: center;
        margin-bottom: 15px;
        display: flex;
        color: var(--corFundo);
    }

    margin-top: 10px;
    background-color: var(--verdeItalia);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .imagemLogo {
        width: 400px;
        display: flex;
        justify-content: center;
        margin:auto;
        img {
            border-radius: 100%;
            margin: 20px auto;
            width: 3.5em;
            height: 3.5em;  
        }
    }

    .social-links {
        width: 300px;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        gap: 20px;

        .whatsapp {
            margin: 15px 0;
            display: flex;
            align-items: center;
            a {
                color: aliceblue;
                text-decoration: none;
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                list-style: none;
            }
            border-radius: 10px;

            width: 30px;
            height: 30px;
            background: linear-gradient(45deg, #5dff00 1%,#30a345 97%);
        }
        
        .instagram {
            display: flex;
            align-items: center;
            a {
                color: aliceblue;
                text-decoration: none;
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                list-style: none;
            }

            border-radius: 10px;

            width: 30px;
            height: 30px;
            background: linear-gradient(45deg, #e5d600 1%,#ff4ca8 37%,#ff0084 73%,#e500b7 100%);
        }

    }

    .endereco {
        max-width: 300px;
        display: block;
        align-items: center;
        margin: auto;
        margin-bottom: 30px;
        color: var(--brancoItalia);

        .esquerda {
        .tituFooter{
            display: flex;
            align-items: center;
            font-family: "Zalando Sans Expanded", sans-serif;
            margin: 15px 0;
            margin-top: 30px;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 13px;

            .bi-star-fill, .bi-star-half {
                color: #f89900;
            }
        }

        .enderecoFooter {
            display: block;
            align-items: center;
            justify-content: center;
            margin: auto;
            display: flex;
            justify-content: center;

            iframe{
                border: 2px outset #ce2b3682;
                border-radius: 5px;
                width: 300px;
                height: 150px;
                user-select: none;
                margin-bottom: 20px;
            }
        }


        }
        .direita {
            display: flex;
            justify-content: space-between;
            align-self: center;
            margin: auto;
            width: 350px;

        .descricaoFooter {
            margin-top: 20px;
            .tituEndereco {
                margin: 10px 0;
                font-family: "Special Gothic Expanded One", sans-serif;
            }
            .descEndereco {
                font-family: "Zalando Sans Expanded", sans-serif;
                font-size: 13px;
            }

        }

    }
        .btnCompartilhar {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            button {
                font-family: "Comfortaa", sans-serif;
                font-size: 10px;
                width: 120px;
                height: 30px;
                user-select: none;
                border-radius: 15px;
                border: 1px solid var(--corFundo);
                transition: 1s ease;
            }:hover{
                font-weight: 600;
                border: 1px solid var(--vermelhoItalia);
            }
        }
    }

    .containerFim {
        margin: auto;
        width: 300px;
        .copy {
            display: flex;
            justify-content: center;
            margin: auto;
            align-items: center;
            font-family: "Comfortaa", sans-serif;
            font-size: 13px;
            color: var(--brancoItalia);
            padding: 20px 0;
        }
        .devs {
            margin: 20px 0;
            color: rgb(223, 223, 222);
            font-family: "Special Gothic Expanded One", sans-serif;
            span {
                color: rgb(193, 193, 193);
                font-size: 13px;
                i {
                    padding-left: 10px;
                }
            }
        }

        .developers {
            display: flex;
            justify-content: space-between;

            .dark, .romano {
                i {
                    margin-right: 10px;
                }
                a {
                    text-decoration: none;
                    font-family: "Zalando Sans Expanded", sans-serif;
                    font-weight: 500;
                    color: rgb(220, 205, 205);
                }

                li {
                    list-style: none;
                }
            }
        }
    }

}   
}